@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Default Dark Theme */
    --bg-base: 17 24 39;
    --bg-surface: 31 41 55;
    --bg-surface-elevated: 55 65 81;
    --text-base: 243 244 246;
    --text-muted: 156 163 175;
    --border-subtle: 55 65 81;
    --border-strong: 75 85 99;
}

body[data-theme="light"] {
    --bg-base: 243 244 246;
    --bg-surface: 255 255 255;
    --bg-surface-elevated: 229 231 235;
    --text-base: 17 24 39;
    --text-muted: 107 114 128;
    --border-subtle: 209 213 219;
    --border-strong: 156 163 175;
}

body[data-theme="pink"] {
    --bg-base: 253 242 248;
    --bg-surface: 255 255 255;
    --bg-surface-elevated: 252 231 243;
    --text-base: 80 7 36;
    --text-muted: 190 24 93;
    --border-subtle: 249 168 212;
    --border-strong: 244 114 182;
}

body[data-theme="red"] {
    --bg-base: 21 2 8;
    --bg-surface: 40 10 18;
    --bg-surface-elevated: 63 16 32;
    --text-base: 253 240 243;
    --text-muted: 160 82 104;
    --border-subtle: 63 16 32;
    --border-strong: 90 26 46;
}

body { 
    overscroll-behavior-y: contain; 
    overflow-y: scroll;
}
input[type="number"], input[type="text"], input[type="password"], input[type="email"], select { font-size: 1rem; }
